*{
    box-sizing: border-box;
}
.box{
    border: 6px solid gray;
    width: 100px;
    height: 100px;
    margin: 20px;

}
.box-small{
    border: 6px solid gray;
    height: 50px;
    width: 50px;
    margin-left: 20px;
}
.container-1{
    border: 4px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.smallbox{
    display: flex;
    
    
}
.container-2{
    border: 4px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    padding: 20px;
}
.heading{
    border: 2px solid rgb(197, 194, 194);
    width: 100%;
    height: 20px;

}
.box-top{
    display: flex;
}
.box-bottom{
    display: flex;
}